.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: relative;
}
.diaDuoi {
    z-index: 1;
}
.chan {
    display: flex;
    position: relative;
}
.le {
    display: flex;
    position: relative;
}
.nuts {
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    z-index: 2;
}

.nut {
    padding: 5px;
}
