.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-content-width);
    min-width: 100px;
    background-color: transparent;
    display: flex;
}

.content {
    flex: 1;
    background-color: #aaa;
    min-height: 1000px;
}
